@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    background-color: #101218;
    color: white;
}
body{
    height: 600px;
}
ul{
    list-style-type: none;
    height: 50px;
    width: 100%; 
    padding: 0px;
    width: 0px;
    
}
ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.left{
    display: flex;
    float: left;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}
.right{
    position: absolute;
    right: 10px;
    display: flex;
    padding-top: 6px;
    font-family:Arial, Helvetica, sans-serif;
}
.left li{
    padding-left:17px;
    font-size: 14px;
}
.right li{
    padding-left: 13px;
    font-size: 14px;
}
.user{
    margin-top: -15px;
}
.labs{
    margin-top: -7px;
}
.dots{
    margin-top: -10px;
}
#container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    height: 366px;
    width: 584px;
}
.google{
    margin-left: 25%;
}
#search_bg{
    position: relative;
    height: 50px;
    width: 582px;
    margin-top: 20px;
    background-color: #3f4454;
    border-radius: 30px;
}
.search_bar{
    height:50px;
    width: 443px;
    background-color: #3f4454;
    overflow: auto;
    position: absolute;
    top: 116px;
    margin-left: 47px;
    font-size: 18px;
    border: none;
    z-index: 1;
}
.search_bar:focus{
    outline: none;
    box-shadow: none;
}
.search_img{
    position: absolute;
    top:17px;
    left: 17px;
    right: 16px;
    bottom: 18px;
    background-color:#3f4454;
}
.mic_img{
    position: absolute;
    right: 56px;
    top:13px;
    background-color:#3f4454;
}
.lens_img{
    position: absolute;
    top:13px;
    right: 16px;
    bottom: 13px;
    background-color:#3f4454;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    padding: 5px;
    width:100%;
    margin-top: 29px;
    height: 50px;
   
}
.box1,.box2{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 130px;
    height:35px;
    font-size: 14px;
    background-color: #3f4454;
}
.offered{
    margin-top: 43px;
    margin-left: 50px;
    height: 28px;
    width: 528px;
    font-size: 12px;
    display: flex;
}
.offered a{
    text-decoration: none;
    font-size: 11px;
    color: #7eaaff;
    padding: 2px;
    margin-left: 10px;

}
.offered p{
    font-family: Arial, Helvetica, sans-serif;
    color: #BFBFBF;
    margin-top: 0px;
    font-size: 13px;
    background-color: #101218;
}

.footer1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -10px;
    width:100%;
    padding-left: 30px;
    display: flex;
    align-items: flex-start;
    background-color: #1f2128;  
}
.footer2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -10px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2128;
    border-top: solid 0.1px #3f4454;
}
p{
    background-color: #1f2128;
}
.leftf{
    display: flex;
    justify-content: center;
    background-color: #1f2128;
    font-size: 14px;
}
.leftf p,.rightf p{
    padding-left: 30px;
}
.rightf{
    display: flex;
    position: absolute;
    right: 50px;
    background-color: #1f2128;
    font-size: 14px;
}
.footer1{
    position: absolute;
    bottom: 45px;
}
.footer2{
    position: absolute;
    bottom: 0px;
}
@media (max-width:600px){
    .google{
        height: 82px;
        width: 262px;
        margin-top: 40px;
        margin-left: 15%;
    }
    #search_bg{
        width: 95%;
        margin-top: 45px;
        margin-left: 10px;
    }
    .search_bar{
        width: 60%;
        left: 12px;
        margin-top:55px;
    }
    .offered p{
        font-size: 15px;
        margin-left:32%;
        margin-right:35%;
    }
    .offered{
        margin-left: 10px;
        width: 100%;
        gap: 14px;
        flex-wrap: wrap;
    }
    .offered span{
        display:flex;
        gap:10px;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 25px;
        margin-top: -10px;
        margin-left: -20px;
    }
    .footer1,.footer2{
        width: 100%;
    }

}
